/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    padding: 16px; /* Padding */
    font-size: 17px;
    cursor: pointer;
    margin-left: auto;
    margin-right:auto;
    opacity: 0.7;
    /* margin-left:auto; */
    /* display: inline; */
    /* margin-left:auto;
    margin-right:auto; */

  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */

  
  /* Animations to fade the snackbar in and out */
  /* @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  } */