#vid_control_snackbar {
  visibility: hidden;
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  padding: 16px; /* Padding */
  font-size: 17px;
  margin-left: auto;
  margin-right:auto;
}



/* @-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 200px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 200px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 200px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 200px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} */